$background: #0D0D0D;

$primary: #E5E5E5;
$primary-dark: #999999;
$primary-shadow: #292957;

$button: #FF7F27;
$button-hover: #FFFF00;
$button-disabled: #753000;

$strong-highlight: #FFFFC3;
$strong: #FFFF3C;
$strong-shadow: #4C4C00;

$emphasis-highlight: #C3C3FF;
$emphasis: #3C3CFF;
$emphasis-shadow: #00004C;

$error-highlight: #FFC3C3;
$error: #FF3C3C;
$error-shadow: #4C0000;

$warning-highlight: #FFC285;
$warning: #FF7F00;
$warning-shadow: #4D2600;

$success-highlight: #A8FFA8;
$success: #0EFF0E;
$success-shadow: #004C00;