@font-face {
    font-family: "Mintxel";
    src: url(../assets/fonts/mintxel.otf);
}

@font-face {
    font-family: "Mercy";
    src: url(../assets/fonts/mercy.otf);
}

@font-face {
    font-family: "Mercy";
    src: url(../assets/fonts/Ancient\ Modern\ Tales.otf);
    unicode-range: U+0040, U+0023-0026;
}

@font-face {
    font-family: "Monster Friend 2 Background";
    src: url(../assets/fonts/MonsterFriend2back.otf);
}

@font-face {
    font-family: "Monster Friend 2 Foreground";
    src: url(../assets/fonts/MonsterFriend2Fore.otf);
}

@font-face {
    font-family: "Mars Need Cunnilingus";
    src: url(../assets/fonts/Mars_Needs_Cunnilingus.ttf);
}